<manifest xmlns:android="http://schemas.android.com/apk/res/android"><application><provider android:name="io.lexilens.platform.CameraProvider" android:authorities="${applicationId}.lexilens.camera" android:exported="false" android:grantUriPermissions="true"><meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/lexilens_camera_paths" /></provider></application><queries><intent><action android:name="android.speech.tts.engine.TTS_SERVICE" /></intent><intent><action android:name="android.media.action.IMAGE_CAPTURE" /></intent></queries></manifest>
